@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;

	--font-size-s:0.8rem;
	--font-size-n:0.9rem;
	--font-size-m:1.1rem;
	--font-size-l:1.2rem;
	--fort-size-xl:1.3rem;
	--font-size-xxl:1.5rem;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}







/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 290px;
	width: 100%;
	background: var(--light);
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
	padding: 5px;
}
#sidebar.hide {
	max-width: 65px;
}
#sidebar.hide:hover {
	max-width: 290px;
}

#sidebar .brand {
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background: var(--light);
	transition: all .3s ease;
	padding: 0 6px;
	overflow: hidden; 
}

#sidebar .brand img {
	width: 40px;
	height: auto;
	margin-right: 10px;
}

#sidebar .brand span {
	font-size: var(--font-size-m);
	font-weight: bold;
	white-space: nowrap; 
	display: inline-block; 
}

#sidebar.hide .brand span {
	display: none;
}

#sidebar.hide:hover .brand span {
	display: inline-block; 
}

#sidebar.hide .brand {
	width: 60px; 
}

#sidebar.hide:hover .brand {
	width: 260px; 
}

#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}

#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: var(--font-size-m);
	color: var(--dark);
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}

#sidebar .side-menu > li > a:hover {
	background: var(--grey);
}

#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}

#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: var(--blue);
	color: var(--light);
}

#sidebar .divider {
	margin-top: 24px;
	font-size: var(--font-size-s);
	text-transform: uppercase;
	font-weight: 700;
	color: var(--dark-grey);
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: var(--blue);
}
/* SIDEBAR */

/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 290px);
	left: 290px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background: var(--light);
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: var(--font-size-l);
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: var(--grey);
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--dark-grey);
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: var(--font-size-l);
	color: var(--dark);
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--light);
	font-size: var(--font-size-s);
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: var(--grey);
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
	padding-top: 5px;
}
nav .profile .pimg {
	width: 36px;
	height: 36px;
	font-size: var(--font-size-xxl);
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: var(--light);
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: var(--font-size-m);
	color: var(--dark);
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: var(--grey);
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: var(--font-size-n);
}
main .breadcrumbs li a {
	color: var(--blue);
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: var(--dark-grey);
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	background: var(--light);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: var(--font-size-xxl);
	font-weight: 600;
}
main .card .head p {
	font-size: var(--font-size-n);
}
main .card .head .icon {
	font-size: 20px;
	color: var(--green);
}
main .card .head .icon.down {
	color: var(--red);
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background: var(--grey);
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--blue);
	width: var(--value);
}
main .card .label {
	font-size: var(--font-size-n);
	font-weight: 700;
}

/* chart */

.card.chart-card {
	margin-top: 20px;
	border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.05);
    position: relative; 
}

.card.chart-card .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.chart-card .head h3 {
    font-size: var(--font-size-l);
    font-weight: 600;
    padding: 5px;
}


#chart {
    width: 100%;
    height: 350px; 
    margin-top: 20px; 
	overflow-x: auto;
	scrollbar-width: none;
}
main .content-data .chart::-webkit-scrollbar {
	display: none;
}

/* Services */

.serviceform {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.serviceform h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--dark);
}


.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--blue);
    margin-top: 5px;
    font-size: var(--font-size-m);
}


label {
    font-size: var(--font-size-m);
    font-weight: bold;
    color: var(--dark);
    display: block;
    margin-bottom: 5px;
}


textarea.form-control {
    resize: vertical;
}


.service-btn {
    width: 100%;
    padding: 12px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: var(--font-size-m);
    cursor: pointer;
    transition: background-color 0.3s;
}

.service-btn:hover {
    background-color: var(--blue);
}


.form_input {
    margin-bottom: 20px;
	margin-top: 20px;
}


input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus, textarea:focus {
    outline: none;
    border-color: var(--blue);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* requested services */

/* General styles for the requested services section */
.requested-services {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    overflow-x: auto;
}

.requested-services h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--font-size-l);
    color: var(--dark);
}

/* Table styling */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.table-striped tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

/* Badge styles */
.badge {
    padding: 5px 10px;
    font-size: var(--font-size-n);
    border-radius: 12px;
    color: white;
}

.bg-success {
    background-color: #28a745;
}

.bg-warning {
    background-color: #ffc107;
}


.btn {
    padding: 8px 16px;
    font-size: var(--font-size-m);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.btn-sm {
    padding: 5px 10px;
    font-size: var(--font-size-n);
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}



@media (max-width: 768px) {
    #chart {
        height: 300px; 
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}

@media (max-width: 480px) {
	
	:root{
		--font-size-s:0.7rem;
		--font-size-n:0.8rem;
		--font-size-m:1rem;
		--font-size-l:1.1rem;
		--fort-size-xl:1.2rem;
		--font-size-xxl:1.3rem;
	}

    #chart {
        height: 250px; 
    }

	#sidebar {
        max-width: 0; 
    }

   
    .toggle-sidebar {
        display: block;
    }

    #content {
        width: 100%;
        left: 0;
    }
}



